/* Next is for Table Scrolling */
.table-responsive
{
    margin-top: 40px;
    width:100%;
    overflow:auto;
}

.custom_radio {
    list-style-type: none;
    margin-right: 45px;
    /*border: 1px solid red;*/
}

.custom_bool
{
    /*border: 1px solid blue;*/
}

#filter_form
{
    /*border: 1px solid red;*/
}

.form-group
{
    /*border: 1px solid green;*/
}

.form-col-1
{
    /*border: 1px solid blue;*/
}

