/* Next is for Table Scrolling */
.table-responsive
{
    margin-top: 40px;
    width:100%;
    overflow:auto;
}

.custom_radio {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
    max-width: 200px;
}

#filter_form
{
    /*border: 1px solid red;*/
}

.form-group
{
    /*border: 1px solid green;*/
}

.form-col-1
{
    /*border: 1px solid blue;*/
}

