.table_source
{
    margin: 20px;
    width: 20%;
    height: 600px;
    overflow:auto;
}
/* For section with source images */
#container
{
    position: relative;
    top:0px;
}
#container > * {
  position: absolute;
}
.trans_image
{
    position: absolute;
    margin: 10px;
    right:50%;
    top: 0px;
}
.light_curve
{
    position: absolute;
    margin: 10px;
    right:5%;
    top: 0px;
}
.spectrum
{
    position: absolute;
    margin: 10px;
    right:5%;
    top: 430px;
}
/* This is for form fields */
.comment_section
{
    margin: 20px;
    width: 300px;
    height: 200px;
}
#id_comment
{
    width: 300px;
    height: 70px;
}
#id_follow_up
{
    width: 300px;
    height: 40px;
}
/* This is for two buttons ('Edit' 'Master') next to each other */
#form-wrapper
{
    width: 100%;
    margin: 0 auto;
}
#comment_form
{
    width: 65%;
    display: inline-block;
}
#master_form
{
    width: 20%;
    display: inline-block;
}

.comments
{
    position: absolute;
    right:45%;
    top: 75%;
}

/* This is for optical surveys */
.opticalSurveys
{
    position: relative;
    top: 220px;

}

.table_opt_source
{
    margin: 20px;
    width: 45%;
    height: 400px;
    overflow:auto;
}

.aladin_lite
{
    position: absolute;
    top: 20px;
    margin: 40px;
    right: 150px;
    width: 35%;
}

.opt_comment_section
{
    margin: 20px;
    width: 300px;
    height: 200px;
}


