/* Table with source attributes and values */
.table_source
{
    margin-top: 20px;
    height: 900px;
    max-width: 400px;
    overflow:auto;
    /*border: 1px solid red;*/
}

/* For section with source images */
.trans_image
{
    margin-top: 20px;
    text-align: center;
    /*border: 1px solid red;*/
}
.light_curve
{
    margin-top: 20px;
    /*border: 1px solid red;*/
}
.spectrum
{
    margin-top: 10px;
    /*border: 1px solid red;*/
}

/* For List of comments */
.comments
{
    margin-top: 5px;
    max-width: 600px;
    /*border: 1px solid red;*/
}

/* This is for Comment Form+Master button */
.container
{
    margin-top: 20px;
    width: 400px;
    height: 400px;
    position: relative;
    /*border: 1px solid blue;*/
}
.comment_section
{
    height: 100%;
    width: 350px;
    position: absolute;
    /*border: 1px solid red;*/
}
#id_source_class
{
    width: 200px;
}
#id_comment
{
    height: 70px;
}
#id_follow_up
{
    height: 40px;
}
.overlay
{
    z-index: 2;
    width: 100px;
    margin-left: 230px;
    margin-top: 35px;
    /*border: 1px solid red;*/
}

/* Meta Object Table */
.table_meta
{
    margin-top: 20px;
    width: 400px;
    height: 700px;
    overflow:auto;
}

/* Group on Source Page */
.table_meta_group
{
    margin: 20px;
    min-height: 200px;
    height: auto;
    overflow:auto;
}

/* This is for OPTICAL SURVEYS */
.OptSurveys
{
    margin-top: 20px;
}

#opt_comment_form
{
    margin-top: 20px;
    /*border: 1px solid red;*/
}

.aladin_lite
{
    margin-top: 20px;
    /*border: 1px solid limegreen;*/
}

.table_opt_sources
{
    max-width: 100%;
    max-height: 500px;
    margin-bottom: 20px;
    overflow:auto;
}





