{% load filters_tags %}

<div class="aladin_lite col-auto">

    {% comment %} Aladin Lite container at requested dimensions {% endcomment %}
    <div id="aladin-lite-div" style="width:500px;height:450px;"></div>
    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>

    {% comment %} Radio buttons with surveys {% endcomment %}
    <p class="m-0">
        <b>Optical: </b>
        <input id="PS_DR1_g" type="radio" name="survey" value='{ "survey": "P/PanSTARRS/DR1/g", "reverse": true }' checked><label for="PS_DR1_g">PS1_DR1 g</label>
        <input id="PS_DR1_z" type="radio" name="survey" value='{ "survey": "P/PanSTARRS/DR1/z", "reverse": true }'><label for="PS_DR1_z">PS_DR1 z</label>
        <b>IR: </b>
        <input id="allwise" type="radio" name="survey" value='{ "survey": "P/allWISE/color", "colormap": "grayscale", "reverse": true }'><label for="allwise">AllWISE</label>
    </p>
    <p class="m-0">
        <b>Radio: </b>
        <input id="vlass" type="radio" name="survey" value='{ "survey": "VLASS", "reverse": true }'><label for="vlass">VLASS (NVSS)</label>
        <b>???: </b>
        <input id="GAIAedr3" type="radio" name="survey" value='{ "survey": "GAIAedr3", "reverse": true }'><label for="GAIAedr3">GAIA edr3</label>
        <input id="galex" type="radio" name="survey" value='{ "survey": "P/GALEXGR6/AIS/color", "reverse": true }'><label for="galex">GALEX</label>
    </p>
    <p class="m-0">
        <b>X-Ray: </b>
        <input id="rosat" type="radio" name="survey" value='{ "survey": "ROSAT", "reverse": true }'><label for="rosat">ROSAT</label>
    </p>

    {% comment %} Creation of Aladin Lite instance (TODO make a separate js-script) {% endcomment %}
    <script type="text/javascript">
        var aladin = A.aladin(
            '#aladin-lite-div',
            {
                survey: "P/PanSTARRS/DR1/g",
                fov: 0.03,
                target: "{{ meta_object.RA }} {{ meta_object.DEC }}",
                showReticle: false,
            }
        );
        aladin.getBaseImageLayer().getColorMap().reverse();

        // Add additional required surveys
        aladin.createImageSurvey(
            "GAIAedr3", "GAIAedr3",
            "http://alasky.cds.unistra.fr/ancillary/GaiaEDR3/density-map",
            // just copy link from list here https://aladin.u-strasbg.fr/hips/list
            "j2000",
            7, // Set value specified in "HiPS order" column (see link above).
               // If specified value is greater then HiPS order it will show nothing
               // with big zoom.
        );
        aladin.createImageSurvey(
            "VLASS", "VLASS",
            "http://alasky.cds.unistra.fr/NVSS/intensity",
            "j2000",
            5,
        )
        aladin.createImageSurvey(
            "ROSAT", "ROSAT",
            "http://alasky.cds.unistra.fr/RASS",
            "j2000",
            4,
        )

        $('input[name=survey]').change(function() {
            let config = JSON.parse($(this).val());

            aladin.setImageSurvey(config["survey"]);

            if (config["colormap"] !== undefined) {
                aladin.getBaseImageLayer().getColorMap().update(config["colormap"]);
            }

            if (config["reverse"] !== undefined && config["reverse"] === true
                // i.e. colormap is not reversed already
                && aladin.getBaseImageLayer().getColorMap()["sig"] === aladin.getBaseImageLayer().getColorMap()["mapName"]
            ) {
                aladin.getBaseImageLayer().getColorMap().reverse();
            }
            console.log(aladin.getBaseImageLayer().getColorMap())

        });

        // marker at meta_object center
        var markers = A.catalog({name: 'Xray Source', shape: 'plus', sourceSize: 20, color: 'red', onClick: 'showTable'})
        aladin.addCatalog(markers);
        markers.addSources(A.source({{ meta_object.RA }}, {{ meta_object.DEC }}, {name: '{{meta_object.master_name}}',
            RA: {{ meta_object.RA }}, DEC: {{ meta_object.DEC }}, Class: '{{ meta_object.object_class }}'}));

        // circle around meta_object center - r98
        var overlay = A.graphicOverlay({color: 'cyan', lineWidth: 2});
        aladin.addOverlay(overlay);
        overlay.add(A.circle({{ meta_object.RA }}, {{ meta_object.DEC }}, 0.0083, {color: 'cyan'})); // radius in degrees
        overlay.add(A.circle({{ meta_object.RA }}, {{ meta_object.DEC }}, {{ meta_object.R98|sec_in_deg }}, {color: 'red'})); // radius in degrees

        // markers for optical sources
        {% define opt_survey_sources|get_opt_survey as opt_survey %}
        {% define opt_survey_sources|get_opt_sources:opt_survey as opt_sources %}
        {# markers for common optical sources #}
        var markers = A.catalog({name: '{{ opt_survey }}', sourceSize: 13, color: '{{ opt_survey|get_survey_color }}'})
        {# marker for counterpart optical source #}
        var marker_dup = A.catalog({name: '{{ opt_survey }} counterpart', sourceSize: 15, color: 'cyan'})
        {# marker for AGN optical source #}
        var markers_agn = A.catalog({name: '{{ opt_survey }} agn', sourceSize: 14, color: 'yellow'})
        {# marker for GAIA optical source #}
        var markers_star = A.catalog({name: '{{ opt_survey }} star', sourceSize: 14, color: 'limegreen'})
        aladin.addCatalog(markers);
        aladin.addCatalog(marker_dup);
        aladin.addCatalog(markers_agn);
        aladin.addCatalog(markers_star);

        {% for opt_s in opt_sources %}
            {% if master_source in opt_s.dup_xray.all %}
                marker_dup.addSources([A.marker({{ opt_s.ra }}, {{ opt_s.dec }}, {popupTitle: '{{opt_s}}',
                    popupDesc: '<em>RA:</em> {{ opt_s.ra }} <br/><em>DEC:</em> {{ opt_s.dec }} <br/>\
                                More info <a target="_blank" href="http://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{opt_s.ra|stringformat:'+.6f'}}{{opt_s.dec|stringformat:'+.6f'|escape}}&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&CooDefinedFrames=none&Radius=40&Radius.unit=arcsec&submit=submit+query&CoordList=>SIMBAD">in Simbad</a>'})]);
            {% elif opt_s.flag_agn_wise %}
                markers_agn.addSources([A.marker({{ opt_s.ra }}, {{ opt_s.dec }}, {popupTitle: '{{opt_s}}',
                    popupDesc: '<em>RA:</em> {{ opt_s.ra }} <br/><em>DEC:</em> {{ opt_s.dec }} <br/>\
                                More info <a target="_blank" href="http://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{opt_s.ra|stringformat:'+.6f'}}{{opt_s.dec|stringformat:'+.6f'|escape}}&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&CooDefinedFrames=none&Radius=40&Radius.unit=arcsec&submit=submit+query&CoordList=>SIMBAD">in Simbad</a>'})]);
            {% elif master_source|is_gaia_star:opt_s.opt_id %}
                markers_star.addSources([A.marker({{ opt_s.ra }}, {{ opt_s.dec }}, {popupTitle: '{{opt_s}}',
                    popupDesc: '<em>RA:</em> {{ opt_s.ra }} <br/><em>DEC:</em> {{ opt_s.dec }} <br/>\
                                More info <a target="_blank" href="http://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{opt_s.ra|stringformat:'+.6f'}}{{opt_s.dec|stringformat:'+.6f'|escape}}&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&CooDefinedFrames=none&Radius=40&Radius.unit=arcsec&submit=submit+query&CoordList=>SIMBAD">in Simbad</a>'})]);
            {% else %}
                markers.addSources([A.marker({{ opt_s.ra }}, {{ opt_s.dec }}, {popupTitle: '{{opt_s}}',
                    popupDesc: '<em>RA:</em> {{ opt_s.ra }} <br/><em>DEC:</em> {{ opt_s.dec }} <br/>\
                                More info <a target="_blank" href="http://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{opt_s.ra|stringformat:'+.6f'}}{{opt_s.dec|stringformat:'+.6f'|escape}}&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&CooDefinedFrames=none&Radius=40&Radius.unit=arcsec&submit=submit+query&CoordList=>SIMBAD">in Simbad</a>'})]);
            {% endif %}
        {% endfor %}
    </script>
</div>