{% load static %}
{% load filters_tags %}
{% load widget_tweaks %}

{%  comment %} TODO: size of png/pdf files? {% endcomment %}
{% with  survey=survey.name|to_str id=meta_object.meta_ind|to_str%}
    <div class="col-lg">

        <div class = "trans_image">
            <img src="{% static 'images/e'|add:survey|add:'/'|add:'trans_'|add:id|add:'.png'|file_exists%}"
                 width="400px" height="380px"/>
        </div>

        {%  comment %} List of comments for this meta object {% endcomment %}
        <div class="comments">
            {%  comment %} Card with admin classification {% endcomment %}
            {% if admin_class %}
                <div class="card mb-2">
                    <strong class="text-center">Classified as {{ admin_class }}</strong>
                </div>
            {% endif %}
            {%  comment %} List of comments {% endcomment %}
            {% with comments=meta_object.comments.all type='comment' %}
                {% include 'includes/list_comments.html' %}
            {% endwith %}
        </div>

    </div>

    <div class="col-sm">
        <div class = "light_curve">
                <iframe src="{% static 'images/e'|add:survey|add:'/'|add:'lc_'|add:id|add:'.pdf'|file_exists%}"
                        width="500px" height="450px"></iframe>
        </div>

        <div class = "spectrum">
                <iframe src="{% static 'images/e'|add:survey|add:'/'|add:'spec_'|add:id|add:'.pdf'|file_exists%}"
                        width="500px" height="430px"></iframe>
        </div>

        {%  comment %} Show Pre-Classes {% endcomment %}
        <table class="table table-bordered mt-2" >
            <thead class="thead-light">
                <tr>
                    <th>Pre-Class</th>
                   <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ 'GAIA Star' }}</td>
                    <td>{{ master_source.g_s }}</td>
                </tr>
                <tr>
                    <td>{{ 'AGN wise' }}</td>
                    <td>{{ master_source.flag_agn_wise }}</td>
                </tr>
                <tr>
                    <td>{{ 'TDE v.3' }}</td>
                    <td>{{ '--' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endwith %}