{% load static %}
{% load filters_tags %}
{% load widget_tweaks %}
{% load humanize %}

{% for comment in source.comments.all %}
    <div class="card mb-2">
        <div class="card-body p-3">
            <div class="row mb-3">
              <div class="col-6">
                <strong class="text-muted">{{ comment.created_by.username }}</strong>
              </div>
              <div class="col-6 text-right">
                {% if not comment.updated_at %}
                  <small class="text-muted">{{ comment.created_at }}</small>
                {% else %}
                  <small class="text-muted">upd: {{ comment.updated_at|naturaltime }}</small>
                {% endif %}
              </div>
            </div>
            <div class="row ml-0">
                {{ comment.comment }}
                {% if comment.source and comment.created_by.is_superuser and user.is_superuser %}
                {%  comment %} Comment for 'Final' button in comment card {% endcomment %}
                  <form class="ml-3" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-sm btn-outline-success" value="button" name="final">Final</button>
                  </form>
                {% endif %}
            </div>
            <div class="row bottom">
                {% if comment.follow_up %}
                    <div class="col-6 text-left">
                        <small class="text-muted">Follow up: {{ comment.follow_up }} </small>
                    </div>
                {% endif %}
                {% if comment.source_class %}
                    <div class="col-6 pull-right">
                        <small class="text-muted">Class: {{ comment.source_class }} </small>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}