{% load static %}
{% load filters_tags %}
{% load widget_tweaks %}
{% load humanize %}

{#<script>#}
{#    function edit_comment(comment_id) {#}
{#        console.log("Editing comment "+comment_id);#}
{#        let text = document.getElementById(#}
{#            "admin-comment-" + comment_id + "-text").innerText;#}
{#        document.getElementById("id_comment").innerHTML = `${text}`;#}
{#    }#}
{#</script>#}

{% for comment in comments %}
    <div class="card mb-2">
        <div class="card-body p-3">
            <div class="row mb-3">
              <div class="col-6">
                <strong class="text-muted">{{ comment.created_by.username }}</strong>
              </div>
              <div class="col-6 text-right">
                {% if not comment.updated_at %}
                  <small class="text-muted">{{ comment.created_at }}</small>
                {% else %}
                  <small class="text-muted">upd: {{ comment.updated_at|naturaltime }}</small>
                {% endif %}
              </div>
            </div>
            <div class="row ml-0" id="admin-comment-{{ comment.id }}">
                {{ comment.comment|linebreaksbr }}
                {% if type == 'comment' and comment.created_by.is_superuser and user.is_superuser %}
                {%  comment %} Comment for 'Final' button in comment card {% endcomment %}
                  <form class="ml-3" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="comment_id" value="{{ comment.id }}" />
                      <button type="submit" class="btn btn-sm btn-outline-success" value="button" name="final">Final</button>
                  </form>

                    {% if user == comment.created_by %}
                        {# Eidt comment #}
                        <script>
                            $(document).ready(function(){
                                let content = $('[data-name="popover-content-edit-comment"]')[0];
                                content.getElementsByTagName("textarea")[0].defaultValue = `{{ comment.comment }}`;
                                content.getElementsByTagName("textarea")[1].defaultValue = `{{ comment.follow_up }}`;
                                content.getElementsByTagName("select")[0].value = "{{ comment.source_class }}";
                                content.getElementsByTagName("select")[1].value = "{{ comment.source_class_1 }}";
                                content.getElementsByTagName("select")[2].value = "{{ comment.source_class_2 }}";
                                $('[data-toggle="popover-edit-message"]').popover({
                                    title: '<h3 class="custom-title"><i class="fa fa-info-circle"></i>Edit comment:</h3>',
                                    content: content,
                                    html: true
                                });
                            });
                        </script>
                        <div>
                            <a tabindex="0"
                               class="btn btn-sm btn-outline-info"
                               data-container="body"
                               role="button"
                               data-toggle="popover-edit-message"
                               data-placement="bottom">
                                Edit
                            </a>
                        </div>

                        {# Delete comment #}
                        <script>
                            $(document).ready(function(){
                                let content = $('[data-name="popover-content-delete-comment"]')[0];
                                $('[data-toggle="popover-delete-message"]').popover({
                                    title: `<h3 class="custom-title">
                                                <i class="fa fa-info-circle"></i>
                                                Achtung!
                                            </h3>`,
                                    content: content,
                                    html: true
                                });
                            });
                        </script>
                        <div>
                            <a tabindex="0"
                               class="btn btn-sm btn-outline-danger"
                               data-container="body"
                               role="button"
                               data-toggle="popover-delete-message"
                               data-placement="bottom">
                                Delete
                            </a>
                        </div>
                        <div hidden><div data-name="popover-content-delete-comment">
                            <form id="delete_comment" method="post">
                                {% csrf_token %}
                                <p style="color:red">Are you sure to delete this comment?</p>
                                <p>{{ comment.comment }}</p>
                                <button class="btn btn-sm btn-danger" name="delete_comment"
                                        value="{{ comment.id }}">Yes, delete my comment!</button>
                            </form>
                        </div></div>
                    {% endif %}
                {% else %}
                    {% if user == comment.created_by %}
                        {# Edit opt comment #}
                        <script>
                            $(document).ready(function(){
                                let content = $('[data-name="popover-content-edit-opt-comment"]')[0];
                                content.getElementsByTagName("textarea")[0].defaultValue = `{{ comment.comment }}`;
                                content.getElementsByTagName("textarea")[1].defaultValue = `{{ comment.follow_up }}`;
                                $('[data-toggle="popover-edit-opt-message"]').popover({
                                    title: '<h3 class="custom-title"><i class="fa fa-info-circle"></i>Edit comment:</h3>',
                                    content: content,
                                    html: true
                                });
                            });
                        </script>
                        <div>
                            <a tabindex="0"
                               class="btn btn-sm btn-outline-info"
                               data-container="body"
                               role="button"
                               data-toggle="popover-edit-opt-message"
                               data-placement="bottom">
                                Edit
                            </a>
                        </div>

                        {# Delete opt comment #}
                        <script>
                            $(document).ready(function(){
                                let content = $('[data-name="popover-content-delete-opt-comment"]')[0];
                                $('[data-toggle="popover-delete-opt-message"]').popover({
                                    title: `<h3 class="custom-title">
                                                <i class="fa fa-info-circle"></i>
                                                Achtung!
                                            </h3>`,
                                    content: content,
                                    html: true
                                });
                            });
                        </script>
                        <div>
                            <a tabindex="0"
                               class="btn btn-sm btn-outline-danger"
                               data-container="body"
                               role="button"
                               data-toggle="popover-delete-opt-message"
                               data-placement="bottom">
                                Delete
                            </a>
                        </div>
                        <div hidden><div data-name="popover-content-delete-opt-comment">
                            <form id="delete_opt_comment" method="post">
                                {% csrf_token %}
                                <p style="color:red">Are you sure to delete this comment?</p>
                                <p>{{ comment.comment }}</p>
                                <button class="btn btn-sm btn-danger" name="delete_opt_comment"
                                        value="{{ comment.id }}">Yes, delete my comment!</button>
                            </form>
                        </div></div>

                    {% endif %}
                {% endif %}

            </div>
            <div class="row bottom">
                {% if comment.follow_up %}
                    <div class="col-6 text-left">
                        <small class="text-muted">Follow up: {{ comment.follow_up }} </small>
                    </div>
                {% endif %}
                {% if comment.source_class or comment.source_class_1 or comment.source_class_2 %}
                    <div class="col-8 pull-right">
                        <small class="text-muted">
                            Class1: {{ comment.source_class }} Class2: {{ comment.source_class_1 }} Class3: {{ comment.source_class_2 }}
                        </small>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

<div hidden>
    <div data-name="popover-content-edit-comment">
        <form id="comment_form" method="post">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success" value="button" name="x_comment">Post</button>
        </form>
    </div>
</div>

<div hidden>
    <div data-name="popover-content-edit-opt-comment">
        <form id="opt_comment_form" method="post">
            {% with opt_form as form %}
                {% csrf_token %}
                {% include 'includes/form.html' %}
            {% endwith %}
            <button type="submit" class="btn btn-success" value="button" name="opt_comment">Post</button>
        </form>
    </div>
</div>