{% load static %}
{% load filters_tags %}
{% load widget_tweaks %}

{%  comment %} TODO: size of png/pdf files? {% endcomment %}
{% with  survey=survey.name|to_str id=meta_object.pk|to_str%}
    <div class = "trans_image">
        <img src="{% static 'images/e'|add:survey|add:'/'|add:'trans_'|add:id|add:'.png'|file_exists%}"
                                                                        width="360px" height="360px"/>
    </div>

    <div class = "light_curve">
            <iframe src="{% static 'images/e'|add:survey|add:'/'|add:'lc_'|add:id|add:'.pdf'|file_exists%}"
                                                                        width="500px" height="440px"></iframe>
    </div>

    <div class = "spectrum">
            <iframe src="{% static 'images/e'|add:survey|add:'/'|add:'spec_'|add:id|add:'.pdf'|file_exists%}"
                                                                        width="500px" height="420px"></iframe>
    </div>
{% endwith %}