{% extends 'base.html' %}

{% load static %}
{% load filters_tags %}
{% load form_tags widget_tweaks %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/home_style.css" %}" />
{% endblock %}

{% block content %}

        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Filters
            </a>
            <a href="{% url 'export_meta_csv' %}" class="btn btn-secondary btn-md ml-2">Export Meta</a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">

                {%  comment %} Form for filtering MetaObj table {% endcomment %}
                <form id="filter_form" method="get">
                    <div class="row">
                        {%  comment %} Simple Filters less/greater {% endcomment %}
                        <div class="col-5">
                            <h5 class="text-center"> Field Filters </h5>
                            {% with form=filter.form  not_simple_filter=pre_class_filters %}
                                {% include 'includes/filter_form.html' %}
                            {% endwith %}
                            <input type="submit" value="Filter" class="btn btn-primary btn-md"/>
                            <a href="{% url 'home' %}" class="btn btn-secondary btn-md ml-2">Reset</a>
                        </div>

                        {%  comment %} Sorting Meta Objects {% endcomment %}
                        <div class="form-col-1">
                            {% for field_name in sort_fields %}
                                <div class="form-group mt-5 mb-3" style="height: 36px">
                                    <input class="form-check-input" type="radio" name="sort_by" id="sort_by{{ field_name }}" value="{{ field_name }}" />
                                    <label class="form-check-label" for="sort_by{{ field_name }}">Sort by {{ field_name }}</label>
                                </div>
                            {% endfor %}
                            {%  comment %} Get Meta Object the only one in the Meta Group {% endcomment %}
                            <div class="form-group mt-5 mb-3" style="height: 36px">
                                <input class="form-check-input" type="radio" name="sort_by_group" id="sort_by_group" value="1" />
                                <label class="form-check-label" for="sort_by_group">Sort by Group</label>
                            </div>

                            {%  comment %} Get RA, DEC, radius for cone search {% endcomment %}
                            <h6 class="text-center mt-5"> Cone Search </h6>
                            <div class="form-group" style="width: 100px">
                                <label class="form-label mt-2" for="cs_RA">RA</label>
                                <input type="number" name="cs_RA" id="cs_RA" step="any" />

                                <label class="form-label mt-2" for="cs_DEC">DEC</label>
                                <input type="number" name="cs_DEC" id="cs_DEC" step="any" />

                                <label class="form-label mt-2" for="cs_r">R</label>
                                <input type="number" name="cs_r" id="cs_r" step="any" />
                            </div>
                            {% if cone_search %}
                                    <p class="text-center" style="width: 200px">{{ cone_search|linebreaksbr }}</p>
                            {% endif %}
                        </div>

                        {%  comment %} Filter Meta Obj by pre-class flags {% endcomment %}
                        <div class="col-5 text-center">
                           <h5> Class Filters <a href="{% url 'criteria' %}"> Info </a></h5>
                            {% for field in filter.form %}
                                {% if field.label in pre_class_filters %}
                                    <div class="mx-auto mt-4" style="width: 200px;">
                                        {{ field.label_tag }}
                                        {{ field|add_class:'form-control' }}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">
                                                {{ field.help_text|safe }}
                                            </small>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="card">
            <strong class="text-center text-info">Total objects: {{ meta_count }}</strong>
        </div>

        {% include "includes/tables/sources.html" %}

        {% with meta_objects as page_objects %}
            {% include 'includes/pagination.html' %}
        {% endwith %}

        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
{% endblock %}
