{% extends 'base.html' %}

{% load static %}
{% load filters_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/home_style.css" %}" />
{% endblock %}

{% block content %}

        {%  comment %} Form for filtering MetaObj table {% endcomment %}
        <form id="filter_form" method="get">
            <div class="row">
                {% with filter.form as form %}
                    {% csrf_token %}
                    {% include 'includes/filter_form.html' %}
                {% endwith %}
            </div>
            <input type="submit" value="Filter" class="btn btn-primary"/>
        </form>

        <div class="table-responsive">

            <table id = "ScrollTable" class="table table-bordered w-auto" cellspacing="0">
                <thead class="thead-dark" >
                    <tr>
                        <th>{{ 'group_id' }}</th>
                        {% for field in meta_fields %}
                            {% if field in master_fields %}
                                <th><a href="?order_by={{ field }}">master_{{ field }}</a></th>
                            {% elif field in sort_fields %}
                                <th><a href="?order_by={{ field }}">{{ field }}</a></th>
                            {% else %}
                                <th>{{ field }}</th>
                            {% endif %}
                        {% endfor %}
                        <th>{{ 'master_flux_05_20' }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for meta_obj in meta_objects %}
                    <tr>
                        <td> {{ meta_obj.meta_group.pk }} </td>
                        {% for field,value in meta_obj %}
                            <td class="align-middle">
                                {% if field == 'master_name' %}
                                    {% if  meta_obj.primary_object%}
                                        <a href="{% url 'source' meta_obj.pk %}"> <span class="badge">P</span> {{ value }} </a>
                                    {% else %}
                                        <a href="{% url 'source' meta_obj.pk %}"> {{ value }} </a>
                                    {% endif %}
                                {% comment %} TODO: change this later {% endcomment %}
                                {% elif field == 'master_survey' %}
                                    {{ value|is_summary }}
                                {% elif 'UPLIM' in field %}
                                    {{ value|stringformat:"e" }}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        {% define meta_obj|get_master_source as master_source %}
                        <td class="align-middle"> {{ master_source.flux_05_20|stringformat:"e" }} </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>

        </div>

        {% with meta_objects as page_objects %}
            {% include 'includes/pagination.html' %}
        {% endwith %}
{% endblock %}
