{% extends 'base.html' %}

{% load static %}
{% load define_action %}

{% block title %} {{ source.name }} {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/source_style.css" %}" />
{% endblock %}

{% block content %}
    <div id = "container" >
        <div class = "trans_image">
            {% with source.dup_id|to_str as img_num %}
                <img src="{% static 'images/trans_'|add:img_num|add:'_e2.png' %}" />
            {% endwith %}
        </div>

        <div class = "light_curve">
            {% with source.dup_id|to_str as img_num %}
                <iframe src="{% static 'images/lc_'|add:img_num|add:'_e2.pdf' %}" width="500px" height="410px"></iframe>
            {% endwith %}
        </div>

        <div class = "spectrum">
            {% with source.dup_id|to_str as img_num %}
                <iframe src="{% static 'images/spec_'|add:img_num|add:'_e2.pdf' %}" width="500px" height="410px"></iframe>
            {% endwith %}
        </div>
    </div>

    <div class="table-source">

        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr class="d-flex">
               <th width="40%">Head</th>
               <th width="60%">Value</th>
            </tr>
          </thead>
          <tbody>
              {% for field,value in source %}
                <tr class="d-flex">
                    <td width="40%">{{ field }}</td>
                    <td width="60%">{{ value }}</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>

    </div>
    <div class = "comment_section">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Edit</button>
        </form>
    </div>

{% endblock %}