{% extends 'base.html' %}

{% load static %}
{% load filters_tags %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %} {{ source.name }} {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/source_style.css" %}" />
{% endblock %}

{% block content %}

    <div class="table-dup_sources">
        <table id = "dup_table" class="table small table-bordered" cellspacing="0">
          <thead>
            <tr>
            {% for survey in surveys %}
                {% if survey.name < 9 and dup_sources|is_in_survey:survey%}
                    <th scope="col">Survey {{ survey.name }}</th>
                {% endif %}
            {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for source in dup_sources %}
                <td class="align-middle">
                {% if source.master_source %}
                    <a href="{% url 'source' source.pk %}"> <span class="badge">M</span> {{ source.name }} </a>
                {% else %}
                    <a href="{% url 'source' source.pk %}">{{ source.name }} </a>
                {% endif %}
                </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
    </div>

    <ul class="nav nav-tabs" id="myTab">
        {% for survey in surveys %}
            {% if survey == source.survey %}
                {% define "active" as status %}
            {% else %}
                {% define "" as status %}
            {% endif %}

            <li class="nav-item">
            {% if survey.name == 9 %}
                <a href="#summary" class="nav-link {{ status }}" data-toggle="tab">Summary</a>
            {% else %}
                {% comment %} For mark of 'master' sources {% endcomment %}
                {% if  source and source.master_source and status == "active" %}
                    <a href="#survey{{ survey.name }}" class="nav-link {{ status }}" data-toggle="tab">Survey{{ survey.name }}
                        <span class="badge">M</span>
                    </a>
                {% else %}
                    <a href="#survey{{ survey.name }}" class="nav-link {{ status }}" data-toggle="tab">Survey{{ survey.name }}</a>
                {% endif %}
            {% endif %}
            </li>

        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for survey in surveys %}
            {% if survey == source.survey %}
                {% define "fade show active" as status %}
            {% else %}
                {% define "fade" as status %}
            {% endif %}

            {% if survey.name < 9 %}
                <div class="tab-pane {{ status }}" id="survey{{ survey.name }}">

                    {%  comment %} Source X-ray images {% endcomment %}
                    <div id = "container" >
                        {% include 'includes/xray_images.html' %}
                    </div>

                    {%  comment %} Source table with head:value(parameters) {% endcomment %}
                    <div class="table_source">
                        <table class="table table-bordered table-responsive-md">
                          <thead class="thead-dark">
                            <tr>
                               <th>Head</th>
                               <th>Value</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for field,value in source %}
                                <tr>
                                {% with sur_num=survey.name|to_str%}
                                    {% if field in base_fields or 'e'|add:sur_num in field%}
                                        <td>{{ field }}</td>
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endwith %}
                                </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                    </div>

                </div>
            {% endif %}
        {% endfor %}

        {%  comment %} Summary of all sources {% endcomment %}
        <div class="tab-pane fade" id="summary">
            <div class = "mx-auto text-center">
                {% with source.dup_id|to_str as img_num %}
                    <iframe src="{% static 'images/lc_'|add:img_num|add:'_e2.pdf' %}" width="500px" height="410px"></iframe>
                {% endwith %}
            </div>
        </div>

        {%  comment %} Comment form and 'Master' form {% endcomment %}
        <div class = "comment_section">
            <div id="form-wrapper">
                {%  comment %} add 'novalidate' when learn why widget_tweaks doesnt show errors {% endcomment %}
                <form id="comment_form" method="post">
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <input id="com_field" type="hidden" name="source_id" value={{ source.pk }}>
                    <button type="submit" class="btn btn-success" value="button" name="x_comment">Create/Edit</button>
                </form>
                <form id="master_form" method="post" novalidate>
                    {% csrf_token %}
                    <input id="mas_field" type="hidden" name="source_id" value={{ source.pk }}>
                    <button type="submit" class="btn btn-primary" value="button" name="master">Master</button>
                </form>
            </div>
        </div>

        {%  comment %} List of comments for this source {% endcomment %}
        <div class="comments" style="width: 30rem;">
            {% include 'includes/list_comments.html' %}
        </div>

    </div>


    {% comment %} OPTICAL SURVEYS {% endcomment %}
    <div class="opticalSurveys">

        <ul class="nav nav-tabs" id="myTab">
            {% for opt_source in source.opt_sources.all %}
                {% if opt_source.opt_id == 1 %}
                    {% define "active" as status %}
                {% else %}
                    {% define "" as status %}
                {% endif %}
                <li class="nav-item">
                    <a href="#object{{ opt_source.opt_id }}" class="nav-link {{ status }}" data-toggle="tab">Object{{ opt_source.opt_id }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for opt_source in source.opt_sources.all %}
                {% if opt_source.opt_id == 1 %}
                    {% define "fade show active" as status %}
                {% else %}
                    {% define "fade" as status %}
                {% endif %}

                {%  comment %} Optical Source table {% endcomment %}

                <div class="tab-pane {{ status }}" id="object{{ opt_source.opt_id }}">
                    <div class="table_opt_source">
                        <table class="table table-bordered table-responsive">
                            <thead class="thead-dark p-0 m-0">
                                <tr>
                                    {% for opt_s in opt_surveys %}
                                        <th class="text-center" rowspan="1" colspan="2" >
                                            {{ opt_s }}
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for opt_s in opt_surveys %}
                                        <th class="text-center">name</th>
                                        <th class="text-center">value</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for field_val1,field_val2,field_val3,field_val4,field_val5 in opt_source %}
                                    <tr>
                                        <th scope="row">{{ field_val1.0 }}</th>
                                        <td>{{ field_val1.1 }}</td>
                                        <th scope="row">{{ field_val2.0 }}</th>
                                        <td>{{ field_val2.1 }}</td>
                                        <th scope="row">{{ field_val3.0 }}</th>
                                        <td>{{ field_val3.1 }}</td>
                                        <th scope="row">{{ field_val4.0 }}</th>
                                        <td>{{ field_val4.1 }}</td>
                                        <th scope="row">{{ field_val5.0 }}</th>
                                        <td>{{ field_val5.1 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {%  comment %} Optical Comment form {% endcomment %}
                    <div class = "opt_comment_section">
                        {%  comment %} add 'novalidate' when learn why widget_tweaks doesnt show errors {% endcomment %}
                        <form id="opt_comment_form" method="post">
                            {% with opt_form as form %}
                                {% csrf_token %}
                                {% include 'includes/form.html' %}
                            {% endwith %}
                            <input id="opt_com_field" type="hidden" name="opt_source_id" value={{ opt_source.opt_id }}>
                            <button type="submit" class="btn btn-success" value="button" name="opt_comment">Create/Edit</button>
                        </form>
                    </div>

                    {%  comment %} List of comments for this source {% endcomment %}
                    <div class="comments" style="width: 30rem;">
                        {% with opt_source as source %}
                            {% include 'includes/list_comments.html' %}
                        {% endwith %}
                    </div>

                </div>
            {% endfor %}

            {% comment %} General Aladin Lite {% endcomment %}
            {% if source.opt_sources.all %}
                <div class="aladin_lite">
                    {% comment %} Aladin Lite container at requested dimensions {% endcomment %}
                    <div id="aladin-lite-div" style="width:700px;height:400px;"></div>
                    <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>

                    {% comment %} Radio buttons with surveys {% endcomment %}
                    <input id="SDSS9" type="radio" name="survey" value="P/SDSS9/color" checked><label for="SDSS9">SDSS9 color</label>
                    <input id="PS_DR1" type="radio" name="survey" value="P/PanSTARRS/DR1/color-i-r-g"><label for="PS_DR1">PS_DR1 color</label>
                    <input id="GAIAedr3" type="radio" name="survey" value="P/DM/flux-Bp/I/350/gaiaedr3"><label for="GAIAedr3">gaiaedr3</label>
                    <input id="allwise" type="radio" name="survey" value="P/allWISE/color"><label for="allwise">AllWISE</label>

                    {% comment %} Creation of Aladin Lite instance {% endcomment %}
                    <script type="text/javascript">
                        var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:0.5, target: "{{ source.RA }} {{ source.DEC }}"});
                        $('input[name=survey]').change(function() {
                            aladin.setImageSurvey($(this).val());
                        });

                        var markers = A.catalog({name: 'Some markers'})
                        aladin.addCatalog(markers);
                        {% for opt_s in source.opt_sources.all %}
                            markers.addSources([A.marker({{ opt_s.ls_ra }}, {{ opt_s.ls_dec }}, {popupTitle: '{{opt_s.name}}',
                                popupDesc: '<em>RA:</em> {{ opt_s.ls_ra }} <br/><em>DEC:</em> {{ opt_s.ls_dec }} <br/>\
                                    <em><class:</em> {{ opt_s.ls_type }} <br/>More info <a target="_blank" href="#">in Simbad</a>'})]);
                        {% endfor %}
                    </script>
                </div>
            {% endif %}

        </div>

    </div>

{% endblock %}