{% load filters_tags %}

<div class="table_opt_sources">
    <table id = "ScrollTable" class="table table-bordered table-responsive small" cellspacing="0">
        <thead class="thead-dark" >
            <tr>
                <th>{{ 'sep' }}</th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'opt_id'        }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'objID'         }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'ra'            }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'dec'           }} </th>

                <th class="align-middle">z<sub>ph</sub></th>
                <th class="align-middle">zConf</th>
                <th class="align-middle">CI<sub>68</sub>[</th>
                <th class="align-middle">CI<sub>68</sub>]</th>
                <th class="align-middle">CI<sub>95</sub>[</th>
                <th class="align-middle">CI<sub>95</sub>]</th>

                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'gKronMagAB'    }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'gKronMagErrAB' }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'rKronMagAB'    }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'rKronMagErrAB' }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'iKronMagAB'    }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'iKronMagErrAB' }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'zKronMagAB'    }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'zKronMagErrAB' }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'yKronMagAB'    }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'yKronMagErrAB' }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'w1mag'         }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'dw1mag'        }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'w2mag'         }} </th>
                <th class="align-middle"> {{ opt_sources.first|field_verbose_name:'dw2mag'        }} </th>
            </tr>
        </thead>
        <tbody>
        {% if opt_sources %}
            {% for opt_source in opt_sources %}
                {% define master_source|get_sep:opt_source as sep %}
                {% define opt_source|get_related_foreign_key:"photoz" as photoz %}

                <tr class="{% opt_row_class opt_source master_source sep %}">
                    <td class="align-middle"> {{ sep|stringformat:".5f"}} </td>
                    <td class="align-middle"> {{ opt_source.opt_id        }} </td>
                    <td class="align-middle"> {{ opt_source.objID         }} </td>
                    <td class="align-middle"> {{ opt_source.ra|stringformat:".5f"            }} </td>
                    <td class="align-middle"> {{ opt_source.dec|stringformat:".5f"           }} </td>

                    <td class="align-middle"> {{ photoz.z_max|stringformat:".3f" }} </td>
                    <td class="align-middle"> {{ photoz.z_conf|stringformat:".3f" }} </td>
                    <td class="align-middle"> {{ photoz.ci_68_a|stringformat:".3f" }} </td>
                    <td class="align-middle"> {{ photoz.ci_68_b|stringformat:".3f" }} </td>
                    <td class="align-middle"> {{ photoz.ci_95_a|stringformat:".3f" }} </td>
                    <td class="align-middle"> {{ photoz.ci_95_b|stringformat:".3f" }} </td>

                    <td class="align-middle"> {{ opt_source.gKronMagAB|stringformat:".2f"    }} </td>
                    <td class="align-middle"> {{ opt_source.gKronMagErrAB|stringformat:".2f" }} </td>
                    <td class="align-middle"> {{ opt_source.rKronMagAB|stringformat:".2f"    }} </td>
                    <td class="align-middle"> {{ opt_source.rKronMagErrAB|stringformat:".2f" }} </td>
                    <td class="align-middle"> {{ opt_source.iKronMagAB|stringformat:".2f"    }} </td>
                    <td class="align-middle"> {{ opt_source.iKronMagErrAB|stringformat:".2f" }} </td>
                    <td class="align-middle"> {{ opt_source.zKronMagAB|stringformat:".2f"    }} </td>
                    <td class="align-middle"> {{ opt_source.zKronMagErrAB|stringformat:".2f" }} </td>
                    <td class="align-middle"> {{ opt_source.yKronMagAB|stringformat:".2f"    }} </td>
                    <td class="align-middle"> {{ opt_source.yKronMagErrAB|stringformat:".2f" }} </td>
                    <td class="align-middle"> {{ opt_source.w1mag|stringformat:".2f"         }} </td>
                    <td class="align-middle"> {{ opt_source.dw1mag|stringformat:".2f"        }} </td>
                    <td class="align-middle"> {{ opt_source.w2mag|stringformat:".2f"         }} </td>
                    <td class="align-middle"> {{ opt_source.dw2mag|stringformat:".2f"        }} </td>
                </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
</div>