{% load filters_tags %}

<div class="table-responsive">
    <table id = "ScrollTable" class="table table-bordered w-auto" cellspacing="0">
        <thead class="thead-dark">

            <tr>
                <th colspan="10" scope="colgroup"></th>
                <th colspan="4" scope="colgroup">Auto-class</th>
                <th colspan="2" scope="colgroup">eRosita</th>
                <th colspan="7" scope="colgroup">Photo-z</th>
                <th colspan="6" scope="colgroup">GAIA</th>
                <th colspan="2" scope="colgroup">u</th>
                <th colspan="6" scope="colgroup">g</th>
                <th colspan="6" scope="colgroup">r</th>
                <th colspan="4" scope="colgroup">i</th>
                <th colspan="6" scope="colgroup">z</th>
                <th colspan="2" scope="colgroup">y</th>
                <th colspan="2" scope="colgroup">w1</th>
                <th colspan="2" scope="colgroup">w2</th>
{#                <th colspan="10" scope="colgroup">DESI LIS</th>#}
{#                <th colspan="10" scope="colgroup">SDSS</th>#}
{#                <th colspan="10" scope="colgroup">Pan-STARRS</th>#}
            </tr>
            <tr>
                <th>ID</th>
                <th>Meta ind</th>
                <th>Master name</th>
                <th>Master Survey</th>
                <th>RA</th>
                <th>Dec</th>
                <th>Comment</th>
                <th>Class</th>
                <th>Extent</th>
                <th>R98</th>

                <th>TDE v3</th>
                <th>LS TDE v3</th>
                <th>AGN WISE</th>
                <th>Gaia Star</th>

                <th>Detection likelihood</th>
                <th>Flux 05-20</th>

                <th>z<sub>ph</sub></th>
                <th>zConf</th>
                <th>CI<sub>68</sub>[</th>
                <th>CI<sub>68</sub>]</th>
                <th>CI<sub>95</sub>[</th>
                <th>CI<sub>95</sub>]</th>
                <th>Source</th>

                <th>parallax</th>
                <th>parallax_error</th>
                <th>pmra</th>
                <th>pmra_error</th>
                <th>pmdec</th>
                <th>pmdec_error</th>

{#                u #}
                <th>SDSS</th>
                <th>SDSS err</th>

{#                g #}
                <th>LS</th>
                <th>LS err</th>
                <th>PS</th>
                <th>PS err</th>
                <th>SDSS</th>
                <th>SDSS err</th>

{#                r #}
                <th>LS</th>
                <th>LS err</th>
                <th>PS</th>
                <th>PS err</th>
                <th>SDSS</th>
                <th>SDSS err</th>

{#                i#}
                <th>PS</th>
                <th>PS err</th>
                <th>SDSS</th>
                <th>SDSS err</th>

{#                z #}
                <th>LS</th>
                <th>LS err</th>
                <th>PS</th>
                <th>PS err</th>
                <th>SDSS</th>
                <th>SDSS err</th>

{#                y #}
                <th>PS</th>
                <th>PS err</th>

{#                w1 #}
                <th>LS</th>
                <th>LS err</th>

{#                w2 #}
                <th>LS</th>
                <th>LS err</th>

{#                Old for-looped table #}
{#                {% for field in meta_fields %}#}
{#                    {% if field in master_fields %}#}
{#                        <th>#}
{#                            <div data-toggle="tooltip" data-placement="right"#}
{#                                 title="Help text for master_{{ field }}">master_{{ field }}</div>#}
{#                        </th>#}
{#                    {% else %}#}
{#                        <th>#}
{#                            <div data-toggle="tooltip" data-placement="right"#}
{#                                 title="Help text for {{ field }}">{{ field }}</div>#}
{#                        </th>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                <th>{{ 'master_flux_05_20' }}</th>#}
            </tr>
        </thead>
        <tbody>
        {% for meta_obj in meta_objects %}
            {% define meta_obj|get_master_source as master_source %}
            {% define master_source|get_opt_source:"LS" as ls_source %}
            {% define master_source|get_opt_source:"PS" as ps_source %}
            {% define master_source|get_opt_source:"SDSS" as sdss_source %}
            {% define master_source|get_opt_source:"GAIA" as gaia_source %}

            {% define ls_source|get_related_foreign_key:"photoz" as ls_photoz %}
            {% define ps_source|get_related_foreign_key:"photoz" as ps_photoz %}
{#            {% define float_greater ls_photoz.zConf ps_photoz.zConf as ls_zconf_greater %}#}

            {% if ls_photoz.z_conf|greater_than:ps_photoz.z_conf %}
                {% define ls_photoz as photoz %}
                {% define "DESI LIS" as photoz_source %}
            {% elif ps_photoz != None %}
                {% define ps_photoz as photoz %}
                {% define "Pan-STARRS" as photoz_source %}
            {% else %}
                {% define None as photoz %}
                {% define "" as photoz_source %}
            {% endif %}

            <tr bgcolor="{% if meta_obj.primary_object %}#ddeeff{% else %}#FFFFFF{% endif %}">
                <td class="align-middle"> {{ meta_obj.id }} </td>
                <td class="align-middle"> {{ meta_obj.meta_ind }} </td>
                <td class="align-middle">
                    {% if  meta_obj.primary_object %}
                        <a href="{% url 'source' meta_obj.pk %}">
                            <span class="badge">P</span> {{ meta_obj.master_name }}
                        </a>
                    {% else %}
                        <a href="{% url 'source' meta_obj.pk %}"> {{ meta_obj.master_name }} </a>
                    {% endif %}
                </td>
                <td class="align-middle"> {{ meta_obj.master_survey|is_summary }} </td>
                <td class="align-middle"> {{ meta_obj.RA|stringformat:".5f" }} </td>
                <td class="align-middle"> {{ meta_obj.DEC|stringformat:".5f" }} </td>
                <td class="align-middle"> {{ meta_obj.comment }} </td>
                <td class="align-middle"> {{ meta_obj.object_class }} </td>
                <td class="align-middle"> {{ meta_obj.EXT|stringformat:".5f" }} </td>
                <td class="align-middle"> {{ meta_obj.R98|stringformat:".5f" }} </td>

                <td class="align-middle">{% show_value_for_boolean_or_unknown opt_source.tde_v3 "Yes" "No" %}</td>
                <td class="align-middle">{% show_value_for_boolean_or_unknown opt_source.tde_v3_ls "Yes" "No" %}</td>
                <td class="align-middle">{% show_value_for_boolean_or_unknown meta_obj.flag_agn_wise "Yes" "No" %}</td>
                <td class="align-middle">{% show_value_for_boolean_or_unknown gaia_source.autoclass_star "Star" "Non-star" %}</td>

                <td class="align-middle"> {{ master_source.DET_LIKE_0 }} </td>
                <td class="align-middle"> {{ master_source.flux_05_20|stringformat:"e" }} </td>

                <td class="align-middle"> {{ photoz.z_max|stringformat:".3f" }} </td>
                <td class="align-middle"> {{ photoz.z_conf|stringformat:".3f" }} </td>
                <td class="align-middle"> {{ photoz.ci_68_a|stringformat:".3f" }} </td>
                <td class="align-middle"> {{ photoz.ci_68_b|stringformat:".3f" }} </td>
                <td class="align-middle"> {{ photoz.ci_95_a|stringformat:".3f" }} </td>
                <td class="align-middle"> {{ photoz.ci_95_b|stringformat:".3f" }} </td>
                <td class="align-middle"> {{ photoz_source }} </td>

                <td class="align-middle"> {{ gaia_source.parallax|stringformat:".5f"        }} </td>
                <td class="align-middle"> {{ gaia_source.parallax_error|stringformat:".5f"  }} </td>
                <td class="align-middle"> {{ gaia_source.pmra|stringformat:".5f"            }} </td>
                <td class="align-middle"> {{ gaia_source.pmra_error|stringformat:".5f"      }} </td>
                <td class="align-middle"> {{ gaia_source.pmdec|stringformat:".5f"           }} </td>
                <td class="align-middle"> {{ gaia_source.pmdec_error|stringformat:".5f"     }} </td>

                <td class="align-middle"> {{ sdss_source.cModelMag_u_ab|stringformat:".2f"     }}</td>
                <td class="align-middle"> {{ sdss_source.cModelMagErr_u_ab|stringformat:".2f"  }}</td>

                <td class="align-middle"> {{ ls_source.mag_g_ab|stringformat:".2f"      }} </td>
                <td class="align-middle"> {{ ls_source.mag_err_g_ab|stringformat:".2f"  }} </td>
                <td class="align-middle"> {{ ps_source.gKronMagAB|stringformat:".2f"     }}</td>
                <td class="align-middle"> {{ ps_source.gKronMagErrAB|stringformat:".2f"  }}</td>
                <td class="align-middle"> {{ sdss_source.cModelMag_g_ab|stringformat:".2f"     }}</td>
                <td class="align-middle"> {{ sdss_source.cModelMagErr_g_ab|stringformat:".2f"  }}</td>

                <td class="align-middle"> {{ ls_source.mag_r_ab|stringformat:".2f"      }} </td>
                <td class="align-middle"> {{ ls_source.mag_err_r_ab|stringformat:".2f"  }} </td>
                <td class="align-middle"> {{ ps_source.rKronMagAB|stringformat:".2f"     }}</td>
                <td class="align-middle"> {{ ps_source.rKronMagErrAB|stringformat:".2f"  }}</td>
                <td class="align-middle"> {{ sdss_source.cModelMag_r_ab|stringformat:".2f"     }}</td>
                <td class="align-middle"> {{ sdss_source.cModelMagErr_r_ab|stringformat:".2f"  }}</td>

                <td class="align-middle"> {{ ps_source.iKronMagAB|stringformat:".2f"     }}</td>
                <td class="align-middle"> {{ ps_source.iKronMagErrAB|stringformat:".2f"  }}</td>
                <td class="align-middle"> {{ sdss_source.cModelMag_i_ab|stringformat:".2f"     }}</td>
                <td class="align-middle"> {{ sdss_source.cModelMagErr_i_ab|stringformat:".2f"  }}</td>

                <td class="align-middle"> {{ ls_source.mag_z_ab|stringformat:".2f"      }} </td>
                <td class="align-middle"> {{ ls_source.mag_err_z_ab|stringformat:".2f"  }} </td>
                <td class="align-middle"> {{ ps_source.zKronMagAB|stringformat:".2f"     }}</td>
                <td class="align-middle"> {{ ps_source.zKronMagErrAB|stringformat:".2f"  }}</td>
                <td class="align-middle"> {{ sdss_source.cModelMag_z_ab|stringformat:".2f"     }}</td>
                <td class="align-middle"> {{ sdss_source.cModelMagErr_z_ab|stringformat:".2f"  }}</td>

                <td class="align-middle"> {{ ps_source.yKronMagAB|stringformat:".2f"     }}</td>
                <td class="align-middle"> {{ ps_source.yKronMagErrAB|stringformat:".2f"  }}</td>

                <td class="align-middle"> {{ ls_source.mag_w1_ab|stringformat:".2f"     }} </td>
                <td class="align-middle"> {{ ls_source.mag_err_w1_ab|stringformat:".2f" }} </td>
                <td class="align-middle"> {{ ls_source.mag_w2_ab|stringformat:".2f"     }} </td>
                <td class="align-middle"> {{ ls_source.mag_err_w2_ab|stringformat:".2f" }} </td>

{#              Old for-looped table#}
{#                {% for field,value in meta_obj %}#}
{#                    <td class="align-middle">#}
{#                        {% if field == 'master_name' %}#}
{#                            {% if  meta_obj.primary_object%}#}
{#                                <a href="{% url 'source' meta_obj.pk %}"> <span class="badge">P</span> {{ value }} </a>#}
{#                            {% else %}#}
{#                                <a href="{% url 'source' meta_obj.pk %}"> {{ value }} </a>#}
{#                            {% endif %}#}
{#                        {% comment %} TODO: change this later {% endcomment %}#}
{#                        {% elif field == 'master_survey' %}#}
{#                            {{ value|is_summary }}#}
{#                        {% elif 'UPLIM' in field %}#}
{#                            {{ value|stringformat:"e" }}#}
{#                        {% else %}#}
{#                            {{ value }}#}
{#                        {% endif %}#}
{#                    </td>#}
{#                {% endfor %}#}
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>